*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: aliceblue;
}
a{
    text-decoration: none;
}

.confirm{
    color: white;
}
/* for desktop */
.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    height:70%;
    width:55%;
    border-radius: 2%;
    background-color: white;
    display: flex;
   border-color: #bababa;
    
}
/* side part */
.s1{
height: 100%;
width: 30%;

display: flex;
justify-content: center;
align-items: center;
position: relative;

}

.ss1{
   
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideimg{
height:96%;
width: 95%;
  
      
     
}

.steps{
font-family: 'Ubuntu', sans-serif;
}
/* step 1 */
.numbers{
    list-style: none;
    position:absolute;
    top: 8%;
bottom: 56%;
left:10%;
color: white;
height:30px;
width:30px;
font-size: 20px;
border:1px solid white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.parts{
position: absolute;
top: 7%;
bottom: 50%;
left:25%;
color:#9c9c9c;
font-weight: light;

}
.list{
    list-style: none;
    position:absolute;
    top: 10%;
bottom: 50%;
left:25%;
color: white;

;
}

/* step 2 */
.numbers2{
    list-style: none;
    position:absolute;
    top: 18%;
bottom: 56%;
left:10%;
color: white;
height:30px;
width:30px;
font-size: 20px;
border:1px solid white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.parts2{
    position: absolute;
    top: 17%;
    bottom: 50%;
    left:25%;
    color:#9c9c9c;
    font-weight: light;
    
    }
    .list2{
        list-style: none;
        position:absolute;
        top: 20%;
    bottom: 50%;
    left:25%;
    color: white;
    
    ;
    }

    /* step 3 */

    .numbers3{
        list-style: none;
        position:absolute;
        top: 27%;
    bottom: 56%;
    left:10%;
    color: white;
    height:30px;
    width:30px;
    font-size: 20px;
    border:1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
    .parts3{
        position: absolute;
        top: 26%;
        bottom: 50%;
        left:25%;
        color:#9c9c9c;
        font-weight: light;
        
        }
        .list3{
            list-style: none;
            position:absolute;
            top: 29%;
        bottom: 50%;
        left:25%;
        color: white;
        
        ;
        }
    
        /* step 4 */

        .numbers4{
            list-style: none;
            position:absolute;
            top: 36%;
        bottom: 56%;
        left:10%;
        color: white;
        height:30px;
        width:30px;
        font-size: 20px;
        border:1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #80aed9;
        }
        
        .parts4{
            position: absolute;
            top: 35%;
            bottom: 50%;
            left:25%;
            color:#9c9c9c;
            font-weight: light;
            
            }
            .list4{
                list-style: none;
                position:absolute;
                top: 38%;
            bottom: 50%;
            left:25%;
            color: white;
            
            ;
            }

    /* box 2 section */
    .s2{
        height: 100%;
        width: 70%;
     
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;
        flex-direction: column;
        
        
    }
    
    .ss2{
        height:70%;
        width:85%;
        margin-bottom: 40px;
display: flex;
flex-direction: column;
align-items: center;
       
     
        
    }
    
    h2{
        color:#0d3069;
        font-size: 30px;
    }
    #info{
        color:#88898a;
        padding-top: 5px;
        font-size: 18px;
    }

    /* section */

    .sss2{
        height:60%;
        width:80%;
       
        margin-top: 30px;
    }

    .section{
        height:56%;
        width:100%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }



    /* grey box */

.section-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 50px;
    
}

#no{
    color:#0d3069;
    font-size: 20px;
}

  h4{
    color: #0d3069;
  }
  
 .sec1{
    display: flex;
    justify-content: space-between;
 } 



 .small-de{
    align-self: flex-start;
    color: #9c9c9c;
 } 


hr{
width:90%;
margin-left: 20px;
display: flex;
justify-content: center;
color:#bababa;   
}


    .dollar{
       align-self: flex-end;
       
        
    }
    

    .total{
        
        width:90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;;
        padding-top: 20px;
    }

    #big-dollar{
        font-size: 21px;
        color: blueviolet;
        font-weight: bold;
    }

    /* buttons */
.btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.go-back{
    height:50px;
    width:110px;
    color:#0d3069;
    font-size: 20px;
    border:none;
    background-color: white;
    cursor: pointer;


}

.next{
    height:50px;
    width:110px;
    color:white;
    background-color: #0d3069;
    border:none;
    border-radius: 5px;
    font-size: 18px;
   margin-left: 30%;
   cursor: pointer;


}


h2, .info{
    display: inline-block;
    width:100%;
}

.same-le{
    text-align: justify;
    justify-self: center;
    width: 80%;
    
}